@import 'typography';

%button {
  @extend %fontBase;

  padding: $buttonPaddingTB $buttonPaddingLR;
  background: $c02;
  border: $buttonBorderSize solid $c01;
  line-height: 1;
  cursor: pointer;
  min-width: 100px;

  &:hover {
    background: $c01;
    border-color: $c0-1;
  }
}
