@import 'typography';

%input {
  font-family: $fontFamily;
  font-size: $inputFontSize;
  line-height: 1;
  color: $c0;

  padding: $inputPaddingTB $inputPaddingLR;
  border: $inputBorderSize solid $c01;
}
