$fontFamily: Arial;

$textFontSize: 14px;
$h1FontSize: 20px;
$h2FontSize: 18px;

$lineHeight: 50px;

$gapLR: 10px;
$gapTB: $gapLR;

$inputFontSize: $textFontSize;
$inputBorderSize: 1px;
$inputPaddingLR: $gapLR - $inputBorderSize;
$inputPaddingTB: $gapLR - $inputBorderSize;
$inputHeight: $inputFontSize + 2 * $inputPaddingTB + 2 * $inputBorderSize;
