@import 'typography';

.action-bar {
  display: flex;

  &__action-list {
    flex-grow: 1;
  }

  &__search {
    padding-right: $gapLR;
    border-right: 1px solid $c01;
  }

  &__paging {
    padding-left: $gapLR;
    padding-right: $gapLR;
  }
}
