@import 'typography';

.action-list {
  display: inline-block;

  &__item, &__item > a {
    display: inline-block;
    text-decoration: none;

    & > span:hover, & > a > span:hover {
      text-decoration: underline;
    }
  }

  &__item + &__item {
    padding-left: $gapLR;
  }
}
