@import 'typography';
@import 'link';

.action-list {
  &__item {
    display: inline-block;

    & + & {
      padding-left: $gapLR;
    }
  }

  &__action {
    @extend %link;

    & + & {
      padding-left: $gapLR;
    }
  }
}
