@import 'typography';

.nav-list {
  display: block;
  background: $c1;

  &__item {
    @extend %h2Link;
    color: #fff !important;

    &:first-child {
      margin-left: $gapLR;
    }
  
    & + & {
      margin-left: $gapLR;
    }
  }
}
