@import 'typography';

.nav-list {
  display: block;
  background: $c1;
  font-size: $h2FontSize;

  &__item {
    @extend %link;
    color: #fff !important;

    &:first-child {
      margin-left: $gapLR;
    }
  
    & + & {
      margin-left: $gapLR;
    }
  }
}
