.page {
  line-height: $lineHeight;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__header {
    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }

  &__brand {
    @extend %h1Link;

    padding-left: $gapLR;
    float: left;
  }

  &__menu {
    float: right;
    margin-right: $gapLR;
  }

  &__nav-bar {
    float: left;
    width: 100%;
  }

  &__breadcrumb-bar {
    float: left;
    width: 100%;
  }

  &__action-bar {
    padding-left: $gapLR;
  }

  &__main {
    @extend %pageBlock;

    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
  }

  &__content {
    @extend %pageBlock;

    flex: 1 1 auto;

    @at-root table#{&} {
      padding-left: 0;

      th, td {
        padding-left: $gapLR;
      }
    }
  }
}