@import 'typography';
@import 'colors';

.page {
  color: $c0;
  font-family: Arial;
  font-size: $textFontSize;
  line-height: $lineHeight;

  &__header {
    border-bottom: 1px solid $c01;

    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }

  &__brand {
    padding-left: $gapLR;
    font-size: $h1FontSize;
    float: left;
  }

  &__menu {
    float: right;
    margin-right: $gapLR;
  }

  &__nav-bar {
    display: block !important;
    background: $c1;
    font-size: $h2FontSize;
    float: left;
    width: 100%;

    a {
      color: #fff !important;
    }
  }

  &__breadcrumb-bar {
    float: left;
    width: 100%;
  }

  &__content {

  }

  & input[type=checkbox] {
    margin: 0px;
  }

  & a {
    color: $c1;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}