@import 'typography';

%button {
  @extend %fontBase;

  padding: $buttonPaddingTB $buttonPaddingLR;
  border-width: $buttonBorderSize;
  border-style: solid;

  line-height: 1;
  cursor: pointer;
  min-width: 100px;
}

%defaultButton {
  @extend %button;

  background: $c13;
  color: $c1-9;
  border-color: $c14;

  &:hover {
    background: $c14;
    border-color: $c15;
  }
}

%primaryButton {
  @extend %button;

  background: $c1;
  color: #FFF;
  border-color: $c1;

  &:hover {
    background: $c1;
  }
}
