$c1-9: #d9e8fe;
$c1-8: #c6ddfe;
$c1-7: #b4d2fd;
$c1-6: #a1c7fd;
$c1-5: #8ebcfd;
$c1-4: #7bb1fd;
$c1-3: #69a6fc;
$c1-2: #569bfc;
$c1-1: #4390fc;
$c1: #3185fc;
$c11: #2d79e6;
$c12: #296dcf;
$c13: #2461b8;
$c14: #2055a1;
$c15: #1b498a;
$c16: #173d73;
$c17: #12315c;
$c18: #0e2545;
$c19: #09192e;

$c2-9: #ffdee7;
$c2-8: #ffcedc;
$c2-7: #ffbed0;
$c2-6: #ffaec5;
$c2-5: #ff8dae;
$c2-4: #ff9db9;
$c2-3: #ff7da2;
$c2-2: #ff6d97;
$c2-1: #ff5d8b;
$c2: #ff4d80;
$c21: #e84675;
$c22: #d14069;
$c23: #ba395e;
$c24: #a33252;
$c25: #8c2a46;
$c26: #74233b;
$c27: #5d1c2f;
$c28: #461523;
$c29: #2f0e18;

$c3-9: #dadbdb;
$c3-8: #c7caca;
$c3-7: #b5b8b8;
$c3-6: #a2a7a6;
$c3-5: #909595;
$c3-4: #7d8483;
$c3-3: #6b7271;
$c3-2: #586160;
$c3-1: #464f4e;
$c3: #343e3d;
$c31: #303938;
$c32: #2b3332;
$c33: #262e2d;
$c34: #222827;
$c35: #1d2222;
$c36: #181d1c;
$c37: #131717;
$c38: #0f1111;
$c39: #0a0c0c;

$c4-9: #dfefe1;
$c4-8: #cfe7d3;
$c4-7: #c0e0c4;
$c4-6: #b0d8b5;
$c4-5: #a0d0a7;
$c4-4: #90c898;
$c4-3: #81c189;
$c4-2: #71b97b;
$c4-1: #61b16c;
$c4: #52aa5e;
$c41: #4b9b56;
$c42: #448c4d;
$c43: #3c7c45;
$c44: #356d3c;
$c45: #2d5d34;
$c46: #264e2b;
$c47: #1e3e23;
$c48: #172f1a;
$c49: #0f1f12;

$c5-9: #fee9d7;
$c5-8: #fddfc3;
$c5-7: #fdd4af;
$c5-6: #fdca9b;
$c5-5: #fcbf87;
$c5-4: #fcb573;
$c5-3: #fcaa5f;
$c5-2: #fba04b;
$c5-1: #fb9537;
$c5: #fb8b24;
$c51: #e57f21;
$c52: #ce721e;
$c53: #b7661b;
$c54: #a05917;
$c55: #894c14;
$c56: #734011;
$c57: #5c330e;
$c58: #45260a;
$c59: #2e1a07;
