@import 'typography';
@import 'colors';

%fontBase {
  font-family: $fontFamily;
  font-size: $textFontSize;
}

%textBase {
  @extend %fontBase;

  line-height: $lineHeight;
}

%h1Base {
  font-size: $h1FontSize;
}

%h2Base {
  font-size: $h2FontSize;
}

%text {
  color: $c3;
}

%h1 {
  @extend %h1Base;
  @extend %text;
}

%h2 {
  @extend %h2Base;
  @extend %text;
}

%linkBase {
  text-decoration: none;
}

%link_default {
  color: $c13;
}

%link_inverce {
  color: #fff;
}

%link {
  @extend %linkBase;
  @extend %link_default;

  &:hover > span {
    text-decoration: underline;
  }
}

%h1Link {
  @extend %h1Base;
  @extend %linkBase;
}

%h2Link {
  @extend %h2Base;
  @extend %linkBase;
}
