@import 'typography';
@import 'colors';

%fontBase {
  font-family: $fontFamily;
  font-size: $textFontSize;
}

%textBase {
  @extend %fontBase;

  line-height: $lineHeight;
}

%h1Base {
  font-size: $h1FontSize;
}

%h2Base {
  font-size: $h2FontSize;
  line-height: 1;
}

%text {
  color: $c0;
}

%h1 {
  @extend %h1Base;
  @extend %text;
}

%h2 {
  @extend %h2Base;
  @extend %text;
}

%linkBase {
  color: $c1;
  text-decoration: none;

  & > span:hover {
    text-decoration: underline;
  }
}

%link {
  @extend %linkBase;
}

%h1Link {
  @extend %h1Base;
  @extend %linkBase;
}

%h2Link {
  @extend %h2Base;
  @extend %linkBase;
}