.action-list {
  &__item {
    @extend %text;

    display: inline-block;
    text-transform: lowercase;

    & + & {
      padding-left: $gapLR;
    }
  }

  &__action {
    @extend %link;

    & + & {
      padding-left: $gapLR;
    }
  }
}
