.breadcrumb-list {
  background: $c1-7;
  // border-color: $c1-6;

  &__item {
    @extend %link;
    text-transform: uppercase;

    &:first-child {
      margin-left: $gapLR;
    }

    & + & {
      &::before {
        content: "/";
  
        padding: 0 $gapLR;
  
        text-decoration: none !important;
        text-align: center;
  
        cursor: text;
      }
  
      &:hover, & > span {
        text-decoration: none !important;
      }
    }

    &:last-child {
      @extend %text;

      padding: 0px !important;
      //color: $c16;
      cursor: text;

      &:hover, & > span {
        text-decoration: none !important;
      }
    }
  }
}
