$labelWidth: 200px;
$inputWidth: 300px;
$textAreaWidth: $inputWidth;
$textAreaHeight: 200px;

.control {
  &__field {
    @extend %input;

    @at-root textarea#{&} {
      width: $textAreaWidth;
      height: $textAreaHeight;

      line-height: 1.5;

      vertical-align: top;
      margin: $textAreaMarginTB 0;
    }

    @at-root input#{&} {
      width: $inputWidth;
      vertical-align: baseline;
    }
  }

  &__label {
    @extend %text;

    display: inline-block;
    width: $labelWidth;
    padding-left: $gapLR;
  }
}
