.form {
  display: flex;
  flex-direction: column;

  &__controls {
    flex: 1 1 auto;

    padding-top: $formPaddingTB;
    padding-bottom: $formPaddingTB;

    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }

  &__control {
    float: left;
    width: 50%;
  }

  &__action-bar {
    @extend %pageBlock;
    text-align: right;
    padding-right: $gapLR;
  }

  &__ok {
    @extend %primaryButton;

    &:before {
      @extend %fontIcon;

      content: fa-content($fa-var-check);

      padding-right: $gapLR;
    }
  }

  &__cancel {
    @extend %defaultButton;
  }
}
