.form {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr min-content;

  &__controls {
    padding-top: $formPaddingTB;
    padding-bottom: $formPaddingTB;

    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }

  &__control {
    float: left;
    width: 50%;
  }

  &__action-bar {
    border-top: 1px solid $c1-8; // TODO: move to another place

    text-align: right;
    padding-right: $gapLR;
  }

  &__ok {
    @extend %primaryButton;

    &:before {
      @extend %fontIcon;

      content: fa-content($fa-var-check);

      padding-right: $gapLR;
    }
  }

  &__cancel {
    @extend %defaultButton;
  }
}
