.grid {
  width: 100%;

  &__row {
    border-top: 1px solid $c1-8;

    &_headed {
      border-top: none;
      border-bottom: 1px solid $c1-8;
      background: #fff !important; // TODO: need to fix
    }

    &:hover {
      background: $c1-8;
    }
  }

  &__cell {
    @extend %text;

    text-align: left;

    a {
      @extend %link;
    }

    input[type=checkbox] {
      margin: 0px;
    }
  }

  &__col-name {
    font-weight: bold;
    cursor: pointer;
  }

  &__sort {
    &_up:after {
      content: ' ↑';
    }

    &_down:after {
      content: ' ↓';
    }
  }

  &__search {
    @extend %input;

    margin-left: -$gapLR;
  }
}
