.menu {
  &__item {
    @extend %linkBase;
    @extend %link_inverce;

    &:first-child {
      margin-left: $gapLR;
    }

    & + & {
      margin-left: $gapLR;
    }

    &:hover > span {
      text-decoration: underline; // TODO move to another place
    }
  }
}
