.nav-list {
  display: block;
  background: $c12;

  &__item {
    @extend %h2Link;
    @extend %link_inverce;

    border-bottom: $pageBlockBorder solid $c12;
    border-right: $pageBlockBorder solid $c12;

    display: block;
    padding-left: $gapLR;

    &_selected {
      background: $c14;
      border-color: $c14;
    }

    &:hover {
      background: $c11;
      border-color: $c11;
    }
  }
}
