$mainColor: $c1-5;
$selectedColor: $c1-4;
$hoverColor: $c1-3;

.nav-list {
  display: block;
  background: $mainColor;

  &__item {
    @extend %h2Link;
    // @extend %link_inverce;
    color: $c16;
    line-height: $lineHeight - $pageBlockBorder; // TODO: Fix it

    border-bottom: $pageBlockBorder solid $mainColor;
    border-right: $pageBlockBorder solid $mainColor;

    display: block;
    padding-left: $gapLR;

    &_selected {
      background: $selectedColor;
      border-color: $selectedColor;
    }

    @at-root a#{&}:hover {
      background: $hoverColor;
      border-color: $hoverColor;
    }

    &_books:before {
      @extend %fontIcon;

      content: fa-content($fa-var-book);

      display: inline-block;
      width: 35px;
    }

    &_authors:before {
      @extend %fontIcon;

      content: fa-content($fa-var-users);

      display: inline-block;
      width: 35px;
    }

    &_genres:before {
      @extend %fontIcon;

      content: fa-content($fa-var-list-ul);

      display: inline-block;
      width: 35px;
    }

    &_dashboard:before {
      @extend %fontIcon;

      content: fa-content($fa-var-chart-line);

      display: inline-block;
      width: 35px;
    }
  }
}
